i {
    height: 50px;
    width: 50px;
    font-size: 30px;
    padding-top: 30%;
    color: orange;
}

button{
    background-color: black;
    border-radius: 10%;
    border-color: orange;
}

h1{
    font-family: cursive, sans-serif;
}

h2{
    font-family: cursive, sans-serif;
    color: orange ;
}

body{
    background-color: aliceblue;
}